* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
}

/* ......................users-list...................... */

main header {
    background-color: #2791cf;
    color: #ffffff;
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://th.bing.com/th/id/OIP.8wiQJl0GonDsoLxyPHNQMwAAAA?pid=ImgDet&rs=1');

}

main header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main header div h1 {
    /* font-family: cursive; */
    font-size: 32px;
    margin-left: 10px;
}

main header div img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

main header button {
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
}

/* ......................users-list...................... */
.container {
    background-color: #7e878c;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.users-window {
    width: 350px;
    color: #ffffff;
    background-color: #3f3f3f;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
    background-image: url('https://fsb.zobj.net/crop.php?r=nKwqe7d36zNwMNPx20_IkGPN5KQZuo9DzYvu-mwAo0CwuV8_63E_uw2q6Z6wRbO4Xj8EJI_FrL-ccbTxRR2tt_jFNVI-IiMDSr-HXs9lVgQm0mhfjhtjG9k6QIPQluoxHOxfgboThaRAQogEqriz4DPgkKmhxcICd6Lnu6_WrXuGy-VBxLDtJbhfYTqTguxcDMezaYHzEGM80_zz');
}

.users-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.users-head h4 {
    background-color: #7e878c;
    padding: 0 8px;
    border-radius: 50px;
}

.users-list p {
    color: #0000CD;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* ......................users-chat...................... */
.chat-window {
    width: 100%;
    border-radius: 10px;
    background-color: #3f3f3f;
    background-size: 250px 550px ;
    background-image: url('https://wallpapercave.com/wp/wp6028953.jpg');
}

.chats {
    height: 400px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    border-radius: 6px;
}

.user-join {
    font-size: 0.9rem;
    color: #3f3f3f;
    background-color: #93FFE8;
    border-radius: 50px;
    width: max-content;
    padding: 7px 20px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.message {
    color: #3f3f3f;
    background-color: #ffffff;
    padding: 5px 15px;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px 50px 50px 10px;
}

.message p {
    font-size: 16px;
}

.message h5 {
    color: #2791cf;
}

.outgoing {
    margin-left: auto;
    color: #ffffff;
    background-color: #2791cf;
    border-radius: 50px 10px 10px 50px;
    text-align: right;
}

.outgoing h5 {
    font-size: 16px;
    color: #F67280;
}

/* ......................input...................... */
.user-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
}

.user-input input {
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 0 50px;

}

.user-input button {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    outline: none;
    border: none;
    line-height: 0.5px;
    color: #ffffff;
    background-color: #2791cf;
    border-radius: 0 50px 50px 0;
}

/* ......................For smallscreen...................... */

@media screen and (max-width:900px) {
    main {
        width: 95%;
    }

    main header button {
        display: block;
    }

    .container {
        position: relative;
    }

    .users-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 20px -20px black;
        padding-bottom: 0;
        display: none;
    }

    .message {
        max-width: 300px;
    }
}